* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('./../images/1.jpg');
}

h1 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 10em;
    text-transform: uppercase;
    text-align: center;
    background-image: url('./../images/1.jpg');
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    text-shadow: -5px 5px #000, -10px 10px 30px #000, -20px 15px 40px #000, -25px 20px 50px #000;
}
