* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #34495e;
}

.card {
    transform-style: preserve-3d;
    margin-top: 100px;
}

.image {
    width: 180px !important;
    height: 300px !important;
}

img {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}

.card:hover img {
    transform: translate3d(0, 0, 50px);
    transform-style: preserve-3d;
}

.image::before {
    content: '';
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.5s;
}

.card:hover .image::before {
    opacity: 0.2;
}

.image-1::before {
    background: center / cover url('./../images/SijBZ1.jpg');
}
