body{
	background: #f4f4f4;
}
.navbar{
	min-height: 33px !important; margin-bottom: 0; border-radius: 0;
}
.navbar-nav > li > a, .navbar-brand{
	padding-top: 6px !important; padding-bottom: 0 !important; height: 33px;
}
.navbar-default {
  background-color: #e86822;
  border-color: #a96407;
}
.navbar-default .navbar-brand {
  color: #fbff00;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e8c022;
}
.navbar-default .navbar-text {
  color: #fbff00;
}
.navbar-default .navbar-nav > li > a {
  color: #fbff00;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e8c022;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e8c022;
  background-color: #a96407;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e8c022;
  background-color: #a96407;
}
.navbar-default .navbar-toggle {
  border-color: #a96407;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #a96407;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fbff00;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fbff00;
}
.navbar-default .navbar-link {
  color: #fbff00;
}
.navbar-default .navbar-link:hover {
  color: #e8c022;
}
.main-color-bg{
	background-color: #e86822 !important; border-color: #a96407 !important; color: #fff !important;
}
#header{
	background: #333; color: #fff; padding-bottom: 10px; margin-bottom: 15px;
}
#header .create{
	padding-top: 20px;
}
.breadcrumb{
	background: #ccc; color: #333;
}
.breadcrumb a{
	color: #333;
}
.progress-bar{
	background-color: #333; color: #fff;
}
.dash-box{
	text-align: center;
}
#footer{
  text-align: center; background-color: #000; color: #fff; margin: 30px 0; padding: 30px;
}
#login{
  margin-top: 30px; 
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fbff00;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e8c022;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e8c022;
    background-color: #a96407;
  }
}